<!doctype html>
<html>
<head>
    <script src="/public/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        #publish {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> News lista</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    
    <div class="row">
<table class="table" id="example">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Postolta</th>
      <th>Cím</th>
      <th>Dátum</th>
      <th style="text-align:center">Státusz</th>
    </tr>
  </thead>
  <tbody>
    <div class="modal-box"></div>
    <% for(var i=0; i < news.length; i++) { %>
    <tr>
        <td><%= news[i].ID %></td>
        <td><%= usr %></td>
        <td><a href="/news/item/<%= news[i].ID; %>"><span><%= news[i].Cím %></span></a></td>
        <td><%=  moment(news[i].Dátum).format('MMM-DD-YYYY') %></td>  
        <td align="center">
        <input id="<%= news[i].ID %>" class="togglef" type="checkbox" checked data-toggle="toggle" data-on="Publikálva" data-off="Nem publikálva" data-onstyle="success" data-offstyle="danger">
        <span id="publish"><%= news[i].Publikálva %></span>
        </td>   
    </tr>
    <% } %>    
  </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
             function statechange(){
                    var togglelista = $(".togglef");
                    togglelista.each(function(){
                    var state = $(this).parent().next().text();
                    if(state == 'false') {
                        $(this).bootstrapToggle('off');
                    } else {
                        $(this).bootstrapToggle('on');
                    }
                })
            };
            $('#example').DataTable();
            var table = $('#example').DataTable(); 
            table.on( 'draw', function () {
                statechange();
                 update();
            } );
            statechange();

            function update() {
                $('.toggle').click(function(){
                    var news_id = $(this).children('input').attr('id');
                    var status = $(this).next('span').html();

                    if(status == "true") {
                        $(this).next('span').html("false");
                        status = "false";
                    } else if(status == "false") {
                        $(this).next('span').html("true");
                        status = "true";
                    }
                    
                    $.ajax
                    ({ 
                        url: 'news/updatestatus',
                        data: {"newsID": news_id,"status":status},
                        type: 'post',
                        error: function (data) {
                            if (typeof (fail) === 'function') console.log(data);
                        },
                        success: function()
                        {
                            $('.modal-box').text(fasz).fadeIn(700, function() 
                            {
                                setTimeout(function() 
                                {
                                    $('.modal-box').fadeOut();
                                }, 2000);
                            });
                        }
                    });
                });  
            }

            update();

         
        });
        </script>
    </div>
</div>
</body>
</html>
