<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Include Font Awesome. -->
    <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../style/app.css">
    <script src="../../jquery/dist/jquery.min.js"></script>

    <!-- Include Froala Editor styles -->
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/froala_editor.min.css" />
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/froala_style.min.css" />

    <!-- Include Froala Editor Plugins styles -->
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/colors.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/file.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/image.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/table.css">
    <link rel="stylesheet" href="../../froala-wysiwyg-editor/css/plugins/video.css">

    <!-- Include Froala Editor -->
    <script src="../../froala-wysiwyg-editor/js/froala_editor.min.js"></script>

    <!-- Include Froala Editor Plugins -->
    <script src="../../froala-wysiwyg-editor/js/plugins/align.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/file.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/image.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/link.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/save.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/table.min.js"></script>
    <script src="../../froala-wysiwyg-editor/js/plugins/video.min.js"></script>
    <!-- End Froala -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <!-- End Froala -->
    <style>
        .imgUpload img{
            width:100%;
        }

        .imgUpload label {
            display:block;
        }
        .status {
            display: block;
        }
    </style>

</head>

<body>
    <% include header %>
    <div id="main-content" class="container">

        <div class="article-container">

            <div class="row">
                <div class="sample">
                    <table class="imgUpload">
                        <tr>
                            <td style="width:20%"><label>Jelenlegi kép</label><br/><span id="image"><img src="../../uploaded_images/<%= newsitem.coverimage %>"/></span></td>
                            <td>&nbsp;</td>
                            <td>
                                <label>Új kép feltöltés</label><br/>
                                <form class="uploadImage" enctype="multipart/form-data" action="/news/cover" method="POST">
                                    <input type="file" name="userphoto" id="userphoto">
                                    <input class="btn btn-success" id="submitbtn" type="submit" name="submit" value="Feltöltés">
                                    <span id="status"></span>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <form action="/news/update/<%= newsitem.ID %>" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Hír címe</label>
                            <input class="form-control" id="title" name="editor_title" placeholder="<%= newsitem.Cím %>"  value="<%= newsitem.Cím %>"></input>
                            <input style="display:none" id="hiddenimagename" name="imagename" value="alap.jpg">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Kategória</label>
                            <select name="editor_category" class="form-control" id="exampleFormControlSelect1">
                                <option value="Valamilyen kategória"><%= newsitem.Kategória %></option>
                                <option value="Hír">Hír</option>
                                <option value="Esemény">Esemény</option>
                            </select>
                        </div>
                        
                        <textarea id="edit" name="editor_content"><%= newsitem.Tartalom %></textarea>
                        <br/>
                        <button class="btn btn-success">Mentés</button>
                    </form>
                </div>
                
                <script>
                    $(function () {
                        $('.uploadImage').submit(function () {
                                $("#status").empty().text("File is uploading...");

                                $(this).ajaxSubmit({

                                    error: function (xhr) {
                                        status('Error: ' + xhr.status);
                                    },

                                    success: function (response) {
                                        console.log(response)
                                        $("#image").empty().append("<img src='../../uploaded_images/"+response+"' />");
                                         $("#status").empty()
                                        $("#hiddenimagename").val(response);
                                    }
                                });

                                return false;
                            });
                        var titletext = "inittext";
                        $('#edit').froalaEditor({
                            imageUploadURL: '/news/uploadimage',

                            imageManagerLoadURL: '/load_images',
                            imageManagerDeleteURL: "/delete_image",
                            imageManagerDeleteMethod: "POST",

                            // Set the save param.
                            saveParam: 'content',

                            // Set the save URL.
                            saveURL: 'news/update/<%= newsitem.ID %>',

                            // HTTP request type.
                            saveMethod: 'POST',

                            // Additional save params.
                            saveParams: { title: titletext }
                        })
                            // Catch image removal from the editor.
                            .on('froalaEditor.image.removed', function (e, editor, $img) {
                                $.ajax({
                                    // Request method.
                                    method: "POST",

                                    // Request URL.
                                    url: "/delete_image",

                                    // Request params.
                                    data: {
                                        src: $img.attr('src')
                                    }
                                })
                                    .done(function (data) {
                                        console.log('image was deleted');
                                    })
                                    .fail(function (err) {
                                        console.log('image delete problem: ' + JSON.stringify(err));
                                    })
                            })
                            // Catch file removal from the editor.
                            .on('froalaEditor.file.unlink', function (e, editor, link) {

                                $.ajax({
                                    // Request method.
                                    method: "POST",

                                    // Request URL.
                                    url: "/delete_file",

                                    // Request params.
                                    data: {
                                        src: link.getAttribute('href')
                                    }
                                })
                                    .done(function (data) {
                                        console.log('file was deleted');
                                    })
                                    .fail(function (err) {
                                        console.log('file delete problem: ' + JSON.stringify(err));
                                    })
                            })
                            .on('froalaEditor.save.before', function (e, editor) {

                            })
                            .on('froalaEditor.save.after', function (e, editor, response) {
                                // After successfully save request.
                            })
                            .on('froalaEditor.save.error', function (e, editor, error) {
                                // Do something here.
                            })
                    });
                    /*
                    $('#saveButton').click(function () {
                        $('#edit').froalaEditor('save.save');
                    })*/
                </script>
                <script src="../../js/app-min.js"></script>
            </div>
        </div>
    </div>
    <% include footer %>
</body>

</html>