<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/app.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<style>
 .btn {
     font-size: 12px;
 }
</style>
<body>
<% include header %>
    <div id="main-content" class="container">
        <div class="article-container">
            <div class="col-sm-12">
                <div class="well">
                    <h3><span class="fa fa-address-book"></span> Postolt hírek</h3>

                    <% if (newsitem) { %>
                    <table class="table" id="example">
                        <thead class="thead-inverse">
                            <tr>
                            <th>Cím</th>
                            <th>Dátum</th>
                            <th style="text-align:center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < newsitem.length; i++) { %>
                            <tr>
                                <td><a href="/news/item/<%= newsitem[i].ID; %>"><span><%= newsitem[i].Cím %></span></a></td>
                                <td><%=  moment(newsitem[i].Dátum).format('MMM-DD-YYYY') %></td>  
                                <td align="center">
                                <a href="/news/edit/<%= newsitem[i].ID; %>" class="btn btn-primary a-btn-slide-text">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span><strong>Módosít</strong></span>            
                                </a>
                                </td>   
                            </tr>
                            <% } %>    
                        </tbody>
                    </table>
                    <% } %>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                    <% if (user.local.email) { %>
                        <p>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>username</strong>: <%= user.local.username %>
                        </p>
                        
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <% } else { %>
                        <a href="/connect/local" class="btn btn-default">Connect Local</a>
                    <% } %>
                </div>
            </div>

            <!--<div class="col-sm-12">
                <div class="well">
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                    <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.facebook.id %><br>
                            <strong>token</strong>: <%= user.facebook.token %><br>
                            <strong>email</strong>: <%= user.facebook.email %><br>
                            <strong>name</strong>: <%= user.facebook.name %><br>
                        </p>

                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                    <% } else { %>
                        <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                    <% } %>

                </div>
            </div>-->
      </div>
    </div>
<% include footer %>
<script src="js/app-min.js"></script>
</body>
</html>
