<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../style/app.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <style>
    #delete_comment {
      float: right;
      margin-left: 5px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <% include header %>
    <% if(event) {%>
      <p style="display:none" id="eventhelper"><%- event.participants %></p>
      <p style="display:none" id="eventhelper3"><%- event.id %></p>
      <p style="display:none" id="eventhelper4"><%- newsitem.ID %></p>
      <% } %>

        <% if(user) {%>
          <p style="display:none" id="eventhelper2"><%- user.local.username %></p>
          <% } %>

            <div id="main-content" class="container">
              <div class="article-box">

                <div class="blog-header">
                <img class="blog-visual" src="/uploaded_images/<%=newsitem.coverimage%>"/>
                <div class="blog-head">
                  <div class="blog-meta">
                    <span class="meta-date">
                      <span class="day"><%= moment(newsitem.Dátum, "MM-DD-YYYY").date() %></span>
                      <span class="mo-ye"><%= moment(newsitem.Dátum).subtract(0, "month").startOf("month").format('MMM') %> <%= moment(newsitem.Dátum).year() %></span>
                    </span>
                    <span class="visible-desktop" style="padding: 5px;">|</span>
                    <span class="meta-productline">
                      <a href="/en/products/star-wars-legion/">
                        <%= newsitem.Szerző %>
                      </a>
                      </span>
                  </div>
                      <div class="blog-titlelead-container">
                      <div class="blog-titlelead">
                      <h1><%= newsitem.Cím %></h1>
                      <div class="blog-lead">
                          <%- trunc(newsitem.Summary,270) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="article-body">
                  <%- newsitem.Tartalom %>
                    <% if (newsitem.Kategória == "Esemény" && user) {%>
                      <form id="participate" class="form-inline" action="/events/participate/<%= user.local.username %>/<%= newsitem.ID%>" method="POST">
                        <div class="form-group mb-12">
                          <label>Jelentkezz erre az eseményre te is!</label>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Jelentkezem!</button>
                      </form>
                      <div class="unsub"></div>
                      <% } %>
                        <hr>
                        <% if(event) {%>
                          <div class="participants">
                            <label>Akik már jelentkeztek:</label>
                            <% for(i=0; i<event.participants.length; i++) {%>
                              <span>
                                <%= event.participants[i] %>,&nbsp;</span>
                              <% } %>
                          </div>
                          <% } %>
                </div>
              </div>
              <div class="article-comment-list">

                <% if(user) {%>
                  <% if(user.local.can_comment) {%>
                      <form action="/news/commentsave/<%= newsitem.ID %>" method="POST">
                        <textarea style="height: 50px;width: 100%;margin: 10px 0px;" id="edit" name="editor_content"></textarea>
                        <button style="float:right;" class="btn btn-success">Hozzászólok</button>
                        <div style="clear:both;"></div>
                      </form>
                      <% } else {%>
                        <a class="forum-link" href="#">Le lettél tiltva a kommentelésről!</a>
                      <% } %>
                  <% } else {%>
                    <a class="forum-link" href="#">ha hozzászólnál, kérlek lépj be!</a>
                  <% } %>

                      <% if(comments) {%>
                        <% for(var i=0; i < comments.length; i++) { %>
                          <% if (comments[i].moderated != true) {%>
                            <div class="article-comment">
                              <div class="comment-head">
                                <a class="user-name" href="#">
                                  <%= comments[i].pusername %>
                                </a>
                                <span class="date">
                                  <%= moment(comments[i].date).format("YYYY-MM-DD HH:mm") %>
                                </span>

                              </div>
                              <div class="comment-body">
                                <% if(user) {%>
                                  <% if(user.local.username == comments[i].pusername || user.local.role == "Admin") {%>
                                    <div id="delete_comment" class="<%= comments[i].id %>">
                                      <i class="fa fa-edit"></i>
                                    </div>
                                  <% } %>
                                <% } %>
                                    <p>
                                      <%= comments[i].content %>
                                    </p>
                              </div>
                            </div>
                            <% } %>
                              <% } %>
                                <% } %>

              </div>

            </div>
            <% include footer %>
              <script src="../../js/app-min.js"></script>
              <script>
                $(document).ready(function () {
                  var images = $(".article-body").find("img")
                  for(var i= 0; i< images.length; i++) {
                    var temp = "../../";
                    var current = $(images[i]).attr("src");
                    $(images[i]).attr("src",temp+current);
                  }


                  $("#delete_comment").click(function () {
                    var id = $(this).attr('class');
                    $.ajax
                      ({
                        url: '/news/comment_delete/'+id,
                        type: 'post',
                        success: function () {
                          location.reload();
                        }
                      });
                      $(this).parent().parent().remove();
                      location.reload();
                  })

                  var partipForm = $("#participate");
                  var isuserin = false;
                  var user = $("#eventhelper2").text();
                  var string = $("#eventhelper").text();
                  var tmp = string.split(",")
                  for (i = 0; i < tmp.length; i++) {

                    if (user == tmp[i]) {
                      isuserin = true
                    }
                  }

                  if (isuserin) {
                    partipForm.hide();
                    $(".unsub").append("<button id='unsub' class='btn btn-primary mb-2'>Lejelentkezem!</button>")
                  } else {
                    partipForm.show();
                    $(".unsub").remove();
                  }


                  $("#unsub").click(function () {
                    var username = $("#eventhelper2").text();
                    var eventid = $("#eventhelper3").text();
                    var newsid = $("#eventhelper4").text();
                    $.ajax
                      ({
                        url: '/news/participant_delete/',
                        type: 'post',
                        data: {"username": username, "eventid":eventid, "callback": newsid},
                        success: function () {
                          location.reload();
                        }
                      });
                      location.reload();
                  })
                })
              </script>
</body>

</html>